@using Microsoft.EntityFrameworkCore
@using MonsterHunterDB.Data
@page "/"
@inject IDbContextFactory<MonsterDataContext> MonsterDataContextFactory;

<PageTitle>Here lies Monsters</PageTitle>


@if (ShowCreate)
{

    <h3>Add a Monster</h3>
    <div class="row">
        <label for="FirstName" class="col-4 col-form-label">First Name</label>
        <div class="col-8">
            <input id="FirstName" name="FirstName" type="text" class="form-control" @bind="@NewMonster.FirstName">
        </div>
    </div>
    <div class="row">
        <label for="LastName" class="col-4 col-form-label">Last Name</label>
        <div class="col-8">
            <input id="LastName" name="LastName" type="text" class="form-control" @bind="@NewMonster.LastName">
        </div>
    </div>
    <div class="row">
        <label for="MonsterName" class="col-4 col-form-label">Monster Name</label>
        <div class="col-8">
            <input id="MonsterName" name="MonsterName" type="text" class="form-control" @bind="@NewMonster.MonsterName">
        </div>
    </div>
    <div class="row">
        <label for="Type" class="col-4 col-form-label">Type</label>
        <div class="col-8">
            <input id="Type" name="Type" type="text" class="form-control" @bind="@NewMonster.Type">
        </div>
    </div>
    <div class="form-group row">
        <label for="Description" class="col-4 col-form-label">Description</label>
        <div class="col-8">
            <input id="Description" name="Description" type="text" class="form-control" @bind="@NewMonster.Description">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary" @onclick="CreateNewMonster">Submit</button>
        </div>
    </div>

}
else
{
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary" @onclick="ShowCreateForm">Add a Monster</button>
        </div>
    </div>

    @if (@OurMonsters is not null && @OurMonsters.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-light border-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Monster Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var monster in OurMonsters)
                    {
                        @if (!@ShowEdit)
                        {
                            <tr>
                                <th scope="row">@monster.Id</th>
                            <td>@monster.FirstName</td>
                            <td>@monster.LastName</td>
                            <td>@monster.MonsterName</td>
                            <td>@monster.Type</td>
                            <td>@monster.Description</td>
                            <td><button name="submit" type="submit" class="btn btn-primary" @onclick="() => ShowEditForm(monster)">Edit</button></td>
                            <td><button name="submit" type="submit" class="btn btn-primary" @onclick="() => DeleteMonster(monster)">Delete</button></td>
                            </tr>
                        }
                        else
                        {
                            if (@MonsterToUpdate is not null && @MonsterToUpdate.Id == @monster.Id)
                            {
                                <tr>
                                    <th scope="row">@monster.Id</th>
                                    <td><input id="FirstName" name="FirstName" type="text" class="form-control" @bind="@MonsterToUpdate.FirstName" /></td>
                                    <td><input id="LastName" name="LastName" type="text" class="form-control" @bind="@MonsterToUpdate.LastName" /></td>
                                    <td><input id="MonsterName" name="MonsterName" type="text" class="form-control" @bind="@MonsterToUpdate.MonsterName" /></td>
                                    <td><input id="Type" name="Type" type="text" class="form-control" @bind="@MonsterToUpdate.Type" /></td>
                                    <td><input id="Description" name="Description" type="text" class="form-control" @bind="@MonsterToUpdate.Description" /></td>
                                    <td><button name="submit" type="submit" class="btn btn-primary" @onclick="@UpdateMonster">Save</button></td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th scope="row">@monster.Id</th>
                                    <td>@monster.FirstName</td>
                                    <td>@monster.LastName</td>
                                    <td>@monster.MonsterName</td>
                                    <td>@monster.Type</td>
                                    <td>@monster.Description</td>
                                    <td><button name="submit" type="submit" class="btn btn-primary" @onclick="() => ShowEditForm(monster)">Edit</button></td>
                                    <td></td>
                                </tr>
                            }
                        }
                    }


                </tbody>
            </table>
        </div>
    }
}


